<div class="container mt-5">
  <h1 class="mb-4">Editing Post</h1>

  <%= render "form", post: @post %>

  <div class="mt-3">
    <%= link_to "Display", @post, class: "btn btn-dark" %> |
    <%= link_to "Back", posts_path, class: "btn btn-secondary" %>
  </div>
</div>

